[mysqld]

plugin_load = group_replication.so
log_bin = mysql-bin.log
enforce_gtid_consistency = ON
log_replica_updates = ON
gtid_mode = ON
binlog_checksum = NONE
relay_log_recovery = ON
require_secure_transport=OFF

skip_replica_start=ON

# loose-group_replication_start_on_boot = OFF
loose-group_replication_group_name = ae2f5e88-d2ed-4ffd-9330-9786297fc44e
loose-group_replication_enforce_update_everywhere_checks = OFF



# all members can write
# loose-group_replication_single_primary_mode = OFF
# loose-group_replication_enforce_update_everywhere_checks = ON